@import url('https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap');


:root{
    --background-color:#190B28;
    --highlights-color: #F96865;
    --text-color: #F9F5FF;
}
body{
    background: var(--background-color);
    color:var(--text-color);
    font-family: 'Inter', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5em;
    margin: 0 5em;
}
.nav-a{
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color:var(--text-color);
    text-decoration: none;
    font-size: 0.9em;
    margin-left: 2.375em;
}
#nav-name{
    font-family: 'Titillium Web', sans-serif;
    font-weight:500;
    font-size: 1em;
}
#nav-links{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.nav-a:hover{
    text-decoration: underline;
    transition:all 0.3s ease-in
}
.fill{
    text-decoration: none;
    padding: 1em;
    background: 0%;
    border: 0.2em solid var(--highlights-color);
    border-radius: 0.2em;
    width: 12em;
    height: 3em;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: var(--highlights-color);
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--highlights-color);
  transition: 0.2s ease-in-out;
  color:var(--background-color);
}
section h6{
    font-size: 1em;
    color:var(--highlights-color);
    font-weight: 700;
}

section h3{
    font-size: 2em;
    color: var(--text-color);
    font-weight: bold;
}

section p{
    font-size: 1.3em;
    margin-bottom: 2em;
}
.intro{
    line-height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 4em;
    margin:  3em;
}
.title-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlights-color);
    padding: 0.7em;
    margin: 0.7em 0;
}

#about-me{
    font-size: 2em;
    color: var(--highlights-color);
    font-weight: bold;
}
.about{
    padding: 0.5em;
    margin: 0 3em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}
.about p{
    line-height: 2em;
    text-align: justify;
}
.about img{
    margin-right: 4em;
}

.icon{
    width: 3em; 
    height: 3em;
    margin-right: 4em;    
}
#icons{
    padding: 0.5em;
    margin: 1.3em 9em;
    transform: translateY(-5em);
}
.title-sub{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--text-color);
    font-weight: lighter;
    font-size: 1.4em;
    padding: 0.8em;
    margin: 1em 3em;
}
#first-icon-skill{
    margin-left: 5em;
}
.skills-icon{
    width: 5.2em; 
    height: 5.2em;
    margin: 0em 2em;
    margin-right: 4em;    
}

.carrousel-projetos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.projetos{
    margin-right: 3em;
    width: 20em;
    height: 20em;
    border-radius: 1.5em;
    background: red;
}
.text-projeto{
    margin-top: 21em;
    display:flex ;
    align-content: flex-end;
    justify-content: center;
}
.contact-icon{
    width: 3.2em; 
    height: 3.2em;
    margin: 0em 2em;
    margin-right: 4em;   
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}